* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;

}

:root {
    --color-primary: #FFFEFA;
    --color-header-top: #FCF7ED;
    --color-more: #C09E5C;
    --color-border-search: #1e10002e;
    --color-text-header: #1e1000b0;
}


.text-center{
    text-align: center;
}
.item-center{
    align-items: center;
}

.flex{
    display: flex;
}

.clear{
    clear: both;
}

.main-admin {
    padding: 20px;
    margin: 30px auto 30px;
    width: 600px;
}

.admin-container {
    display: block;
}

.admin-container .incorrect {
    display: none;
    border: 1px solid #e55f5f;
    background: #ffdfdf;
    border-radius: 6px;
    margin: 15px 0;
    padding: 15px;
}
.admin-container .admin-title {
    font-size: 24px;
}

.admin-container .type-info {
    display: block;
    width: 100%;
    border-radius: 10px;
    padding: 11px 20px;
    border: none;
    outline: none;
    background-color: #eee;
    margin: 15px 0;
}

.admin-container #login-ac {
    width: 100%;
    border-radius: 20px;
    padding: 11px 20px;
    font-size: 14px;
    margin: 15px 0;
    text-decoration: none;
    font-weight: bold;
    background-color: #000;
    color: #fff;
    border: 1px solid #000;
}

.admin-container #login-ac:hover {
    background-color: #fff;
    color: #000;
    cursor: pointer;
}

