* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;


}

:root {
    --color-primary: #FFFEFA;
    --color-header-top: #FCF7ED;
    --color-more: #C09E5C;
    --color-border-search: #1e10002e;
    --color-text-header: #1e1000b0;
}


.text-center{
    text-align: center;
}
.item-center{
    align-items: center;
}

.flex{
    display: flex;
}

.clear{
    clear: both;
}

/* begin header */

.header {
    width: 100%;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
}

        /* header-top */
.header-top {
    width: 100%;
    height: 32px;
    background-color: var(--color-header-top);
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-top-inner {
    display: flex;
    justify-content: center;
    align-items: center;
}
.text-header-top {
    color: #000;
    margin-right: 10px;
}
.header-top-link a{
    color: var(--color-more);
    text-decoration: none;
}

        /* header-main */
.header-main-over, .header-main-under {
    width: 100%;
    height: auto;
    background-color: var(--color-primary);
    border-bottom: 1px solid #E6E4DF;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* header-main-over */
.heaer-main-center {
    display: flex;
    justify-content: center;
    
}
.header-main-inner {
    display: flex;
}
.main-inner-left, .main-inner-right {
    display: flex;
}
.main-inner-left {
    margin-right: auto;
}
.main-inner-right {
    margin-left: auto;
}

/* logo */
.header-logo {
    position: relative;
    display: grid;
    place-items: center;
}
.header-logo a svg {
    height: 40px;
    margin-right: 10px;
    margin-top: 4px;
}

/* search */
.header-search-button {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-search {
    display: flex;
}
.header-search> form> input[type="search"] {
    width: 500px;
    display: flex;
    border-radius: 30px;
    border: 1px solid #1e10002e;
    outline: none;
    padding: 10px 20px;
    max-width: 1200px;
    margin: 0px 10px;
    
}

/* navigator */
.header-navigator-over {
    display: flex;
    align-items: center;
    width: 100%;
    text-align: center;
}
.header-navigator-over .menu {
    padding: 0;
    margin: 0;
}
.header-navigator-over .menu li {
    position: relative;
    display: inline-block;
    list-style: none;
}
.header-navigator-over .menu li a{
    display: inline-flex;
    flex-direction: column;
    padding: 8px 10px;
    color: var(--clr-black-69);
    text-decoration: none;
    color: #1e1000b0;
}


.header-sp-ac {
    position: relative;
    display: flex;
    margin-right: 15px;
    align-items: center;
    justify-content: center;
    text-align: center;
}
/* shopping */
.icon-shopping {
    background: none;
    border: none;
    outline-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.text-shopping {
    position: absolute;
    width: 15px;
    height: 15px;
    top: 3px;
    right: -3px;
    line-height: 15px;
    text-align: center;
    border: 1px solid red;
    background-color: red;
    color: #fff;
    border-radius: 50%;
}

.icon {
    color: var(--color-text-header);
}

.text-header-color {
    color: var(--color-text-header);
}

/* .header-main-under */
.header-main-under {
    height: auto;
    top: 32px;
}

/* header scroll show and hide */
/* left */
.header-main-menu-left {
    display: none;
    align-items: center;
    margin-right: 100px;
}

.logo-show svg{
    height: 23px;
    margin: 10px;
    margin-bottom: 7px;
}
.btn-show {
    font-size: 15px;
    background: none;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* right */
.header-main-menu-right {
    margin-left: 100px;
    display: none;
}

/* header-position-fixed */

.header-fixed {
    position: fixed;
    z-index: 2;
}
.header-opacity {
    display: flex;
}

.header-main-under .menu-button {
    padding: 0;
    margin: 0;
}
.header-main-under .menu-button > li {
    position: relative;
    display: inline-block;
    list-style: none;
    margin: 0px;
}
.header-main-under .menu-button > li > a {
    color: #1e1000b0;
    text-decoration: none;
    padding: 7px 15px;
    display: inline-flex;
    flex-direction: column;
}
.header-main-under .menu-button > li > a:hover {
    color: #1e1000;
}

.icon{
    font-size: 18px;
}

.header-sp-ac:hover{
    cursor: pointer;
    color: #000;
}

/* end header */

                /* footer */
.footer {
    background-color: #fcf7ed;
}
.colum {
    flex-direction: column;
    flex-basis: 30%;
    display: flex;
    align-items: center;
}
.heading-footer {
    width: 100%;
    border-bottom: 1px solid #1e10001f;
    margin-bottom: 1em;
    padding-bottom: 10px;
    font-size: 16px;
    line-height: 125%;
    font-weight: bold;
}
.footer-inner {
    flex-direction: column;
    display: flex;
}

        /* footer-top */
.footer-top {
    padding-top: 40px;
    max-width: 1220px;
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
}


    /* footer-left */
.footer-left {
    align-self: center;
}
/* logo */
.logo-footer {
    margin: 24px 0;
}
.logo-footer svg {
    height: 63px;
}
/* pay */
.icon-pay {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

    /* footer-middle */
.text-footer-middle {
    margin-bottom: 1rem;
    line-height: 150%;
    font-size: 14px;
}
/* input */
.footer-middle form {
    width: 100%;
    display: flex;
    position: relative;
    margin-bottom: 10px;
}
.footer-input {
    padding: 12px 20px;
    width: 100%;
    border: 1px solid #1e10001f;
    border-radius: 30px;
    outline: none !important;
}
.btn-footer-input {
    outline: none;
    background: none;
    border: none;
    top: 0;
    position: absolute;
    right: 3px;
    padding: 13px;
    cursor: pointer;
}
.btn-footer-input i {
    width: 20px;
    height: 15px;
    color: #CDCAC6;
}
/* contact */
.footer-contact {
    display: flex;
    align-items: center;
}
.footer-social {
    padding: 8px;
    display: flex;
    align-items: center;
    padding-left: 0px;
    color: #1e1000b0;
    text-decoration: none;
}
.footer-social i {
    font-size: 20px;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    text-decoration: none;
}

    /* footer-right */
.footer-right {
    display: flex;
    flex-basis: 30%;
    align-items: center;
}
.footer-link {
    width: 100%;
    flex-direction: unset !important;
}
.footer-menu {
    width: 50%;
    padding: 20px;
    padding-top: 0px;
    padding-right: 0px;
    margin-right: 0px;
    flex-basis: unset !important;
    align-items: flex-start;
}
.footer-menu a {
    line-height: 1.5;
    text-decoration: none;
    color: #1e1000;
}

        /* footer-hr */
.footer-hr {
    width: 100%;
    margin: 7px 0;
    border-top: 1px solid #1e10001f;
    border-color: #1e10001f;
    opacity: 0.6;
}

        /* footer-bottom */
.footer-bottom {
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.footer-line-height {
    line-height: 1.5;
    color: #1e1000b0;
}

.user-account-bg{
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 125px;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
}


.user-account{
    width: 250px;
    background-color: #fff;
    display: inline-block;
    padding: 16px;
    animation: loginFadeIn ease 0.5;
    position: absolute;
    right: 112px;
    top: -48px;
}

.user-account p{
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.list-items-login {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: 16px 0;
}

.list-items-login .login-item{
    padding: 5px 21px;
    border-radius: 20px;
    margin-left: 5px;
    text-align: center;
    align-items: center;
    background-color: #fff;
    border: 1px solid #000;
}

.list-items-login .login-item:hover{
    background-color: #000;
}
.list-items-login .login-item i{
    font-size: 20px;
}

.list-items-login .login-item:nth-child(3n){
    margin-right: 0 !important;
}

.user-account .login,
.user-account .register{
    color: #000;
    background-color: #fff;
    border: 1px solid #000;
    text-align: center;
    margin-top: 16px;
    padding: 10px;
    border-radius: 20px;
    display: block;
    text-decoration: none;
    font-weight: bold;
}

.user-account .login:hover,
.user-account .register:hover{
    background-color: #000;
    color: #fff;
}

@keyframes loginFadeIn {
    from{
        transform: translateY(-100px);
    }
    to{
        transform: translateY(0);
    }
}
