*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --color-primary: #FFFEFA;
    --color-header-top: #FCF7ED;
    --color-more: #C09E5C;
    --color-border-search: #1e10002e;
    --color-text-header: #1e1000b0;
}

.text-center{
    text-align: center;
}
.item-center{
    align-items: center;
}

.flex{
    display: flex;
}

.clear{
    clear: both;
}

.contact-chat{
    display: inline-block;
    padding: 12px 26px;
    background-color: #816a6a;
    font-weight: bold;
    color: rgb(255, 255, 255);
    border-radius: 20px;
    font-size: 20px;
    position: fixed;
    bottom: 18px;
    right: 24px;
}

/* begin main product */

#main{
    background-color: #f1f5e5;
    margin: 129px 0;
}

.product-title{
    display: flex;
    padding: 16px;
    justify-content: center;
}

.bold{
    font-weight: bold;
}

.product-content{
    justify-content: space-around;
}
.product-img{
}
.product-title .product-caption a{
    font-size: 14px;
    color: #000;
    text-decoration: none;
}

.product-description{
    margin-top: 16px;
    width: 50%;
}

.product-description .product-name{
    font-size: 32px;   
    margin-bottom: 24px;
}

.product-description .product-review{
    font-size: 18px;
    letter-spacing: 1px;
}
.product-description .product-price{
    display: inline-block;
    margin: 32px 0;
}

.product-description .price-type{
    display: inline-block;
    border: solid #000 1px;
    border-radius: 10px;
    padding: 3px 17px;
    margin-left: 12px;
}

.product-order-container{
    display: flex;
    align-items: center;
}

.product-order-container .product-quality input{
    line-height: 36px;
    width: 138px;
    font-size: 18px;
    border: solid 1px #000;
    border-radius: 20px;
}

.product-order-container .product-order{
    border-radius: 20px;
    border: solid 1px #000;
    /* padding: 0px 46px; */
    width: 180px;
    line-height: 36px;
    margin-left: 14px;
    background-color: #fff;
    color: #000;
    font-weight: bold;
    text-decoration: none;
}

.product-order-container .product-order:hover{
    background-color: #000;
    color: #fff;
    cursor: pointer;
}

.product-description .product-recommand{
    /* background-color: #f1f5e5; */
    color: #000;
    font-size: 16px;
    line-height: 1.4;
    text-align: justify;
    margin: 32px 0;
    /* border: solid 1px #ccc; */
}

.product-description .product-notes {
    font-size: 16px;
}

.product-description .product-notes div{
    background-color: #ccc  ;
    font-weight: bold;
    padding: 16px 0;
}

.product-description .product-notes div span{
    margin: 0 16px;
}

.product-description .product-notes p{
    margin-top: 16px;
    text-align: justify;
    line-height: 1.4;
}

